.load-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FF7700;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
